doctype html
html lang="fr"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"

    meta content="text/html; charset=utf-8" http-equiv="content-type"
    meta content="fr" http-equiv="content-language"
    meta name="author" lang="fr" content="Nicolas Blanco"
    meta name="copyright" lang="fr" content="Nicolas Blanco"
    meta name="description" content="Un développeur Ruby on Rails freelance sur Paris passionné et pratiquant les méthodologies agiles !"
    meta name="keywords" content="web,ruby,rails,paris"
    meta name="robots" content="all,follow"
    meta name="google-site-verification" content="-UUDHllSyVaPrBRanqNYib657V7ziQtQlFyALrnLXXg"

    /! Le styles
    link href="css/bootstrap.min.css" rel="stylesheet"
    link href="css/main.css" rel="stylesheet"

    title
      | {{ page.title }}

    /! Le HTML5 shim, for IE6-8 support of HTML elements
    /[ if lt IE 9 ]
      script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"

    javascript:
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-15322489-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body

    nav class="navbar navbar-fixed-top"
      div class="navbar-inner"
        div class="container"
          a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse"
            span class="icon-bar"
            span class="icon-bar"
            span class="icon-bar"
          a class="brand" href="#"
            | Nicolas Blanco
          div class="container nav-collapse"
            ul class="nav"
              li
                a href="#open-source" Open source
              li
                a href="#talks" Talks
              li
                a href="#projects" Projects
              li
                a href="#certifications" Certifications
              li
                a href="#contact" Contact

    div class="container"
      div class="content"
        div class="row"
          div class="span12"


            header.row
              .span10.offset1 style="background-color: #EEE; border-radius: 7px; padding: 1.5em;"
                h1
                  img src="img/nicolas-blanco-freelance-rails.jpg" width="70" height="70" style="padding: 0.4em;"
                  | &nbsp;Hi,
                p style="font-size: 16px;"
                  | you're on the portfolio of a <strong>web architect</strong> and freelance <strong>developer</strong> in Paris.
                  br
                  | I love working on exciting web projects!
                  br
                  | You too? Let's take a coffee together!
                p
                  | The kind of things I like:
                  ul
                    li <strong>prototype</strong> quickly using cool technologies (Ruby on Rails, cloud computing, etc...)
                    li using tools to do <strong>agile</strong> development
                    li communicate efficiently
                    li <strong>iterate</strong> very often
                    li quickly get a high quality application which responds to the customer needs

                .row
                  .span4
                    a href="mailto:nicolas@leelia.fr" class="btn btn-warning btn-large"
                      i class='icon-envelope icon-white'
                      | &nbsp; nicolas@leelia.fr
                  .span4.offset2
                    a href="http://twitter.com/slainer68" rel="me" class="btn btn-primary btn-large"
                      i class='icon-star icon-white'
                      | &nbsp;
                      strong twitter
                      | .com/slainer68

            div class="page-header" id="open-source" style="margin-top: 3em;"
              h2 Open Source projects

            | Open source projects enable developers to not reinvent the wheel. It's also a great source of knowledge and sharing.

            br
            br
            | You will find on my Github account&nbsp;
            a href="http://github.com/slainer68" rel="me" here
            | &nbsp;plenty of my contributions to the open source world.

            br
            br
            | I'm also one of the administrators of the Ruby on Rails France Mailing List, the current largest mailing list for Rails developers in France.


            div class="page-header" id="talks"
              h2 Latest public talks

            ul class="thumbnails"

              li class="span4"
                div class="thumbnail"
                  erb:
                    <div style="margin: 12px 0 4px;"> <strong> <a href="http://www.slideshare.net/nicolasblanco1/dcouplez-votre-appli-en-microapis" title="Découplez votre appli en micro-APIs" target="_blank">Découplez votre appli en micro-APIs</a> </strong> </div> <iframe src="http://www.slideshare.net/slideshow/embed_code/15585856" width="100%" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>
                  div class="caption"
                    p
                      em December 2012

              li class="span4"
                div class="thumbnail"
                  erb:
                    <div style="width:100%" id="__ss_11452252"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/nicolasblanco1/some-oauth-love" title="Some OAuth love" target="_blank">Some OAuth love</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/11452252" width="100%" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> </div>
                  div class="caption"
                    p
                      em February 2012

              li class="span4"
                div class="thumbnail"
                  erb:
                    <div style="width:100%" id="__ss_7484882"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/nicolasblanco1/a-piece-of-sugar-in-your-clientside-development" title="A piece of sugar in your client-side development">Sugar in your client-side development</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/7484882" width="100%" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> </div>
                  div class="caption"
                    p
                      em April 2011

              li class="span4"
                div class="thumbnail"
                  erb:
                    <div style="width:100%" id="__ss_7572714"> <strong style="display:block;margin:12px 0 4px"><a href="http://www.slideshare.net/nicolasblanco1/background-processing-with-resque" title="Background processing with Resque">Background processing with Resque</a></strong> <iframe src="http://www.slideshare.net/slideshow/embed_code/7572714" width="100%" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe> </div>
                  div class="caption"
                    p
                      em April 2011

            div class="page-header" id="projects"
              h2 Projects

            table class="table table-bordered table-striped"
              thead
                tr
                  th
                    | Name
                  th
                    | Date
                  th
                    | Description
                  th
                    | Site
                  th
                    | Technologies
              tbody

                tr
                  td
                    | France Télévisions
                  td
                    | 2012-2013
                  td
                    | Mission at France Télévisions Éditions Numériques.
                    br
                    em Lead Developer
                  td
                    a href="http://www.francetelevisions.fr" francetelevisions.fr
                  td.tags
                    span class="label"
                      | Ruby on Rails 4
                    br
                    span class="label"
                      | MongoDB
                    br
                    span class="label"
                      | ElasticSearch
                    br
                    span class="label"
                      | Redis

                tr
                  td
                    | Dabadoc
                  td
                    | 2013
                  td
                    | Web application for booking doctors.
                    br
                    em Lead Architect & Developer
                  td
                    a href="http://www.dabadoc.com" dabadoc.com
                  td.tags
                    span class="label"
                      | Ruby on Rails 4
                    br
                    span class="label"
                      | MongoDB
                    br
                    span class="label"
                      | AngularJS

                tr
                  td
                    | Simplib
                  td
                    | 2012
                  td
                    | Web application about web sharing and communities.
                    br
                    em Lead Developer
                  td
                    a href="http://www.simplib.com" simplib.com
                  td.tags
                    span class="label"
                      | Ruby on Rails 4
                    br
                    span class="label"
                      | MongoDB
                    br
                    span class="label"
                      | Twitter bootstrap

                tr
                  td
                    | Reewardio
                  td
                    | 2012
                  td
                    | Mobile web application on a new generation of shopping loyalty cards.
                    br
                    em Lead Developer
                  td
                    a href="http://reewardio.com" reewardio.com
                  td.tags
                    span class="label"
                      | Ruby on Rails 3
                    br
                    span class="label"
                      | MongoDB

                tr
                  td
                    | Consulting Café
                  td
                    | 2012
                  td
                    | Sharing website and information on IT consulting.
                    br
                    em Lead Developer
                  td
                    a href="http://www.consultingcafe.com" consultingcafe.com
                  td.tags
                    span class="label"
                      | Ruby on Rails 3
                    br
                    span class="label"
                      | MongoDB

                tr
                  td
                    | Skillstar
                  td
                    | 2011-2012
                  td
                    | Real time gaming web site based on skills. Some of the games were realtime on a national French TV show.
                    br
                    em Developer
                  td
                    a href="http://www.skillstar.com" skillstar.com
                  td.tags
                    span class="label"
                      | Ruby on Rails 2
                    br
                    span class="label"
                      | jQuery
                    br
                    span class="label"
                      | Redis
                    br
                    span class="label"
                      | node.js

                tr
                  td
                    | Campingavenue
                  td
                    | 2011
                  td
                    | Realtime booking web application for campings in Europe (B2C).
                    br
                    em Lead developer
                  td
                    a href="http://www.campingavenue.com" campingavenue.com
                  td.tags
                    span class="label"
                      | Ruby on Rails 3
                    br

                tr
                  td
                    | Bookandgolf
                  td
                    | 2010-2011
                  td
                    | Realtime web application for booking golf green-fees in Europe (B2C)
                    br
                    em Lead developer
                  td
                    a href="http://www.bookandgolf.com" bookandgolf.com
                  td.tags
                    span class="label"
                      | Ruby on Rails 3
                    br
                    span class="label"
                      | Redis & Resque
                    br
                    span class="label"
                      | backbone.js
                    br
                    span class="label"
                      | Sphinx

                tr
                  td
                    | Lollidays
                  td
                    | 2010
                  td
                    | Social network about leisure activities.
                    br
                    em Developer
                  td
                    a href="http://www.lollidays.com" lollidays.com
                  td.tags
                    span class="label"
                      | Ruby on Rails 2
                    br
                    span class="label"
                      | Event Machine
                    br
                    span class="label"
                      | Sphinx

                tr
                  td
                    | The Sphere
                  td
                    | 2009-2010
                  td
                    | Social network about luxury.
                    br
                    em Developer
                  td
                    a href="http://www.the-sphere.com" the-sphere.com
                  td.tags
                    span class="label"
                      | Ruby on Rails 2
                    br
                    span class="label"
                      | Sphinx

                tr
                  td
                    | Keldelice
                  td
                    | 2008-2009
                  td
                    | Web portal and social network on the French gastronomie and cuisine.
                    br
                    em Developer
                  td
                    a href="http://www.keldelice.com" keldelice.com
                  td.tags
                    span class="label"
                      | Ruby on Rails 2
                    br
                    span class="label"
                      | Sphinx


            div class="page-header" id="certifications"
              h2 Trainings & certifications

            table class="table table-bordered table-striped"
              thead
                tr
                  th
                    | Name
                  th
                    | Date
                  th
                    | Site
              tbody
                tr
                  td
                    | Certification "Ruby Association Certified Ruby Programmer Silver"
                  td
                    | 2010
                  td
                    a href="http://www.ruby-assn.org/certification/programmer" ruby-assn.org
                tr
                  td
                    | Training on "How to become a successfull trainer" at Latitude (consulting on companies communication)
                  td
                    | 2009
                  td
                    a href="http://www.latitude.fr" latitude.fr


            div class="page-header" id="contact"
              h2 Contact

            | Nicolas Blanco
            br
            | LEELIA
            br
            | 159 rue de Charonne
            br
            | 75011 PARIS
            br
            | e-mail :&nbsp;
            a href="mailto:nicolas@leelia.fr" nicolas@leelia.fr
            br
            br
            | Founder of&nbsp;
            a href="http://www.leelia.fr" LEELIA
            |, a company specialized in Agile web development :).





            /| {{ content }}

            div class="page-header"

      footer class="footer"
        p style="float: right;"
          em Site powered by Jekyll, Twitter Bootstrap & Github Pages :-).
